IDI_ICON1               ICON                    "icon/icon72px.ico"
IDI_ICON2               ICON                    "icon/icon64px.ico"
IDI_ICON3               ICON                    "icon/icon48px.ico"
IDI_ICON4               ICON                    "icon/icon32px.ico"
